<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


  <style type="text/css">
    .nav-link{
      color: #caf0f8 !important;
    }
    .navbar-brand{
      color: #caf0f8 !important;
    }
    /* .bs-example {
      margin: 0px;

    }
    .bg-dark {
    background-color: #4f55c7!important;
}
    .navbar-brand {
      font-size: 20px;
      font-family: sans-serif;

    } */
  </style>
</head>

<body>



  <div class="bs-example">
    <nav class="navbar navbar-expand fixed-top" style="background-color: #03045e;">
      <a href="/" class="navbar-brand">Tars Cars</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/" class="nav-item nav-link active">Home</a>

          <a href="/customerclick" class="nav-item nav-link">Customer</a>
          <a href="/mechanicsclick" class="nav-item nav-link">Mechanics</a>
          <a href="/adminclick" class="nav-item nav-link">Admin</a>


        </div>

        <div class="navbar-nav">
          <a href="/aboutus" class="nav-item nav-link">About Us</a>
          <a href="contactus" class="nav-item nav-link">Contact Us</a>
        </div>




      </div>
    </nav>
  </div>


</body>

</html>
